src/*~
*~
doc/html
doc/latex
*Makefile*
*.orig
CMake/common
.ciscript
ci.*
jambs*
.cproject
.project
Release


Brion
Lunchbox
MVDTool
ReTo
Servus
SimIL
build
vmmlib
nsol
Lexis
ZeroBuf
ZeroEQ
gmrvlex
httpxx